.movie-list {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}

.movie-list h3 {
    margin: 0px 10px;
    color: white;
    font-weight: 500;
}

.movie-list::-webkit-scrollbar {
    display: none;
}

.row-data {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 10px 5px 20px 5px;


}

@media (max-width:500px) {
    .row-data {

        margin: 9px 2px 8px 2px;


    }

}